* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.psevdo:before {
  content: "_";
  color: #7a7a7a;
  font-weight: 700;
  font-size: 34px; }

.navbar-toggle {
  border: 1px solid black; }
  .navbar-toggle .icon-bar {
    background-color: black; }

.navbar-right li a {
  color: #4d4d4d;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  font-size: 16px; }
.navbar-right li a:hover {
  border-bottom: #878787 solid 2px;
  background-color: transparent;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background: rgba(226, 226, 226, 0.3);
  min-height: 75px; }

.head_home {
  background-image: url("../images/header_top.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  min-height: 747px; }
  .head_home h1 {
    font-size: 80px;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    color: #4d4d4d;
    padding-top: 200px;
    margin-bottom: 3px; }
  .head_home h3 {
    font-size: 22px;
    color: #909090;
    padding-bottom: 25px;
    margin-top: 3px;
    font-family: "Asap", sans-serif;
    font-weight: 500; }
  .head_home a:hover {
    position: relative;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    font-size: 16px;
    color: #4d4d4d;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    border: none;
    text-decoration: none;
    box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.25); }
  .head_home a {
    position: relative;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    background-color: transparent;
    font-size: 16px;
    color: #4d4d4d;
    list-style-type: none;
    text-align: center;
    padding: 19px;
    border: #4d4d4d solid 1px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    margin-left: 15px;
    margin-right: 20px; }
  @media screen and (max-device-width: 768px) {
    .head_home h1 {
      font-size: 75px; }
    .head_home h3 {
      font-size: 18px; }
    .head_home a {
      margin-top: 15px; } }
  @media screen and (max-device-width: 560px) {
    .head_home h1 {
      font-size: 50px; }
    .head_home h3 {
      font-size: 14px; }
    .head_home a {
      margin-top: 10px; } }
  @media screen and (max-device-width: 560px) {
    .head_home h1 {
      font-size: 35px; }
    .head_home h3 {
      font-size: 12px; }
    .head_home a {
      font-size: 12px; } }

.sect1 {
  padding-bottom: 125px;
  margin-top: 110px; }
  .sect1 img {
    padding-top: 30px;
    width: 100%; }
  .sect1 div:first-of-type:before {
    content: "___";
    color: #7a7a7a;
    font-weight: 700;
    font-size: 34px; }
  .sect1 h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #717171;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    font-size: 46px; }
  .sect1 p {
    font-size: 16px;
    font-family: "Asap", sans-serif;
    font-weight: 500;
    color: #4d4d4d;
    padding-bottom: 30px; }
  .sect1 a {
    font-family: "Asap", sans-serif;
    font-weight: 700;
    background-color: transparent;
    font-size: 16px;
    color: #4d4d4d;
    list-style-type: none;
    text-align: center;
    padding: 18px 40px;
    border: #4d4d4d solid 1px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px; }

.sect2 {
  background-color: #f6f6f6;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  border: none; }
  .sect2 img {
    padding-top: 25px; }
  .sect2 h3 {
    font-family: "Asap", sans-serif;
    font-weight: 500;
    font-size: 24px; }
  .sect2 h2 {
    font-size: 46px;
    color: #4d4d4d;
    font-weight: 700;
    padding-bottom: 50px; }
  .sect2 .left {
    height: 110px; }

.sect3 {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center; }
  .sect3 h2 {
    font-size: 46px;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    color: #4d4d4d;
    padding-bottom: 40px; }
  .sect3 img {
    width: 100%;
    padding-bottom: 100px; }

.sect4 {
  background-color: #f6f6f6;
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center; }
  .sect4 h2 {
    font-size: 46px;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    color: #4d4d4d;
    padding-bottom: 40px; }
  .sect4 .img_galer {
    padding-bottom: 40px; }
    .sect4 .img_galer img {
      width: 33%;
      margin-top: 10px;
      text-align: center; }
    .sect4 .img_galer img:hover {
      box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.25); }
  .sect4 a {
    font-family: "Asap", sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    font-size: 16px;
    color: #4d4d4d;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    border-radius: 1px;
    text-decoration: none; }
  .sect4 a:hover {
    box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.25); }

.sect5 {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center; }
  .sect5 h2 {
    font-size: 46px;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    color: #4d4d4d;
    padding-bottom: 40px; }
  .sect5 .card {
    max-width: 900px;
    margin: auto;
    border: black 1px solid;
    padding: 80px; }
    .sect5 .card img {
      max-width: 25%;
      max-height: 25%;
      padding-right: 30px;
      float: left; }
    .sect5 .card .bio {
      text-align: left; }
      .sect5 .card .bio h4 {
        font-family: "Asap", sans-serif;
        color: #212121;
        margin-bottom: 0px;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase; }
      .sect5 .card .bio h5 {
        font-family: "Asap", sans-serif;
        color: #212121;
        margin-top: 0px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase; }
      .sect5 .card .bio p {
        font-family: "Asap", sans-serif;
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase; }
      @media screen and (max-device-width: 600px) {
        .sect5 .card .bio p {
          font-size: 12px; }
        .sect5 .card .bio h4 {
          font-size: 18px; }
        .sect5 .card .bio img {
          max-width: 30%;
          max-height: 30%; } }
  @media screen and (max-device-width: 600px) {
    .sect5 p {
      font-size: 12px; }
    .sect5 h4 {
      font-size: 18px; }
    .sect5 .card {
      padding: 12px; } }

.sect6 {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 55px;
  padding-bottom: 65px;
  font-size: 22px;
  color: #363636;
  font-family: "Asap", sans-serif;
  font-weight: 500; }
  .sect6 img {
    max-height: 79px;
    max-width: 77px;
    width: 100%; }
  .sect6 .row:nth-child(2) {
    font-size: 30px;
    font-weight: 700; }
  @media screen and (max-device-width: 420px) {
    .sect6 {
      font-size: 14px; } }

footer {
  margin-top: 150px;
  background-image: url("../images/footer.png");
  width: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  text-align: center; }
  footer .sect7 {
    border-bottom: #ffffff 2px solid;
    padding-top: 140px;
    padding-bottom: 59px; }
    footer .sect7 .psevdo h2 {
      font-family: "Asap", sans-serif;
      font-size: 46px;
      font-weight: 700;
      color: #f0f0f0;
      padding-bottom: 55px; }
    footer .sect7 div form textarea {
      min-height: 205px;
      padding-top: 15px;
      font-size: 16px; }
    footer .sect7 div form button {
      margin-top: 30px;
      padding: 15px 32px;
      background-color: #ffffff;
      color: #4d4d4d;
      text-transform: uppercase;
      font-family: "Asap", sans-serif;
      font-weight: 600;
      font-size: 16px; }
  footer a i {
    color: #4d4d4d;
    font-size: 16px;
    background-color: white;
    height: 27px;
    width: 27px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px; }
  footer a i:hover {
    color: white;
    background-color: #0084b4; }
  footer .down {
    padding-top: 20px; }
    footer .down .col-sm-12.col-md-4 {
      text-align: left;
      padding: 0px; }
    footer .down p {
      font-size: 16px;
      color: white;
      font-family: 'Montserrat', sans-serif; }

.form-control {
  border-radius: 0px;
  border: none; }

/*# sourceMappingURL=preproc.css.map */
